# App
PORT=8000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=configurations_ms

# Storage / External Services (placeholders)
AZURE_STORAGE_ACCOUNT=
AZURE_STORAGE_ACCESS_KEY=
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# Other custom variables...

EMAIL_HOST=smtp.ionos.com
EMAIL_PORT=587
EMAIL_USER=tu_correo@tu-dominio.com
EMAIL_PASS=tu_password
IONOS_EMAIL=estemail
IONOS_PASSWORD=estapassword


BASE_URL=http://localhost:8000
